@inject SignInManager<AppUser> _signInManager
@model Product
@{
    ViewBag.Title = "Product details";
    var uploadedPhoto = "~/images/" + (Model.ImgUrl ?? "audi.jpg");
}
<h3 class="text-center"> Product Details</h3>

<div class="row">
    <div class="container-fluid col-lg-6 col-md-8 col-sm-10">
        <div class="card" style="min-width:200px; max-width:540px">
            <div class="card-header text-center">
                @Model.Name
            </div>
            <div class="card-body" style="max-height:40rem;">
                <img src="@uploadedPhoto" style="width:25px height:15px" asp-append-version="true" class="card-img-top" alt="@Model.Name" />
                <p class="card-text">Description: @Model.Description</p>
                <p class="card-text">Cost: @Model.Cost</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-outline-primary">Back</a>
                @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a asp-controller="home" asp-action="edit" asp-route-Id="@Model.ProductId" class="btn btn-outline-success">Update</a>
                    <a asp-controller="home" asp-action="delete" asp-route-Id="@Model.ProductId" class="btn btn-outline-danger">Delete</a>
                }
                <a asp-controller="cart" asp-action="addtocart" asp-route-Id="@Model.ProductId" class="btn btn-outline-primary"> Add to cart</a>
            </div>

        </div>
    </div>
</div>